DATABASE_URL="postgresql://usuario:senha@localhost:5434/compras_corporativas"
JWT_SECRET="troque-esta-chave-em-producao"
JWT_EXPIRES_IN="1d"
API_KEY="troque-esta-chave-de-api-em-producao"
PORT=3000
CNPJ_API_BASE_URL="https://brasilapi.com.br/api/cnpj/v1"
CNPJ_API_TIMEOUT_MS=3000
